
.divnamelogo{
	
  width: 20%;
  margin: 0 0 15px 20px;
  padding: 15px;
 // border: 1px solid black;
  text-align: center;
	
	 margin: auto;
  //width: 50%;
//  //border: 3px solid green;
  //padding: 10px;
  
// float:left;
//border: 5px outset green;
}


.divmenu.content{
	margin: auto;
}

.divmenu{
	 margin: auto;
  width: 20%;
 // border: 3px solid green;
  padding: 20px;
  
//float:right;
//border: 5px outset green;
//define the width
//width:20%;
}



.topnav {
	margin: auto;
  background-color: white;
  overflow: hidden;
  width:350px;
}

.topnav a {
 // float: left;
  color: gray;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 13px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: gray;
  color: white;
}

.topnav .icon {
  display: none;
}




.div5 {
float: left;
  border: 5px outset green;
  background-color: #cc99ff;
  height:100px;
  width:30%;
}

.div6 {
float: right;
  border: 5px outset green;
  background-color: #ffff99;
  height:100px;
  width:30%;
}

.div7 {
//float: left;
//float: right;
  border: 5px outset green;
  background-color: #999966;
  height:300px;
  
}

.div8 {
//float: left;
//float: right;
  border: 5px outset green;
  background-color: #999966;
  height:300px;
}

.div9 {
//float: left;
//float: right;
 border: 5px outset green;
  background-color: #999966;
  height:300px;
}

@media screen and (max-width: 1000px) {
  .topnav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .topnav a {float: left;}
 div.content {margin-left: 0;}
}

@media screen and (max-width: 1000px) {
  .topnav a {
    text-align: center;
    float: none;
  }
}